<!DOCTYPE html>
    <html>
    <head>
      <title>Online Grocery</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='shophomestyles.css') }}" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap">
    </head>
    <body>
        <div class="v43_2">
            <div class="v43_3">
                <div class="v43_4">
                    <a href='/shopping' class="button"><span class="v43_6">Home</span></a>
                    <a href='/about' class="button"><span class="v43_7">About</span></a>
                    <div class="v43_11"><div class="custom-button" onclick="window.location.href='/cart';"></div>
                        <div class="v208_57"></div>
                    </div>
                    <div class="v43_14">
                        <div class="v208_58">
                            <button class="custom-button1" onclick="window.location.href='/user_profile';"></button>
                        </div>
                    </div>
                </div><div class="v208_56"></div>
                </div>
                </div>
                <div class="v43_17">
                    <div class="v43_18"></div><span class="v43_19">Fast and Fresh
Grocery</span><span class="v43_20">We pride ourselves on providing a curated 
of the finest, nutrient-rich products that 
cater to your health conscious lifestyle.</span></div>
<span class="v43_23">CATEGORY</span>
<span class="v208_59">FRUITS</span><a href='/shopping/fruits' class="button"><span class="v208_59">FRUITS</span></a>
<div class="v208_60"></div><span class="v208_61">VEGETABLES</span><a href='/shopping/vegetables' class="button"><span class="v208_61">VEGETABLES</span></a>
<div class="v208_62"></div><span class="v208_63">SNACKS</span><a href='/shopping/snacks' class="button"><span class="v208_63">SNACKS</span></a>
<div class="v208_64"></div><span class="v208_65">ESSENTIALS</span><a href='/shopping/essentials' class="button"><span class="v208_65">ESSENTIALS</span></a>
<div class="v208_66">

</div>
</div>
</div>
</body>
</html>





