<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Form</title>
    <link rel="stylesheet" type="text/css" href="../static/signupstyles.css">
  </head>
  <body>
    <form action="/signup" method="post">

      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required /><br /><br />

      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required /><br /><br />

      <label for="pwd">Password:</label>
      <input type="password" id="pwd" name="pwd" required /><br /><br />

      <label for="phone_number">Phone Number:</label>
      <input type="text" id="phone_number" name="phone_number" required /><br /><br />

      <label for="address">Address:</label>
      <textarea
        id="address"
        name="address"
        rows="4"
        cols="50"
        border-radius="20"
        required
      ></textarea
      ><br /><br />

      <label for="city">City:</label>
      <input type="text" id="city" name="city" required /><br /><br />

      <label for="state">State:</label>
      <input type="text" id="state" name="state" required /><br /><br />

      <label for="postal_code">Postal Code:</label>
      <input type="text" id="postal_code" name="postal_code" required /><br /><br />

      <input type="submit" value="Submit" />
    </form>
    
  </body>
</html>